{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-2">
                    <h3>CVs</h3>
                </div>

                <div class="col text-right">
                    <button type="button" class="btn btn-secondary"
                            data-target="#pesquisarModal" data-toggle="modal">
                        <i class="fas fa-search" aria-hidden="true"></i> Pesquisar
                    </button>
                    <button type="button" class="btn btn-secondary"
                            onclick="window.location.href='{{ url('cv_list',{'r':'1'}) }}'">
                        <i class="fas fa-sync" aria-hidden="true"></i> Recarregar
                    </button>
                </div>

            </div>

        </div>

        <div class="card-body">

            <div class="table-responsive-sm">

                <table class="table table-striped table-hover crsr-datatable">

                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col"></th>
                        <th scope="col">Nome</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Naturalidade</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for cv in dados %}
                        <tr>
                            <td>{{ cv.id }}</td>
                            <td>
                                <img src="{{ getEnv('DIR_FOTOS3x4') }}{{ cv.foto }}"
                                     style="width: 60px; height: 80px"/>
                            </td>
                            <td>{{ cv.nome }}</td>
                            <td class="text-right">{{ cv.idade }}</td>
                            <td>{{ cv.naturalidade }}</td>
                            <td style="color: {{ cv.status == 'REPROVADO' ? 'red' : '' }}">{{ cv.status }}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href='{{ url('cv_avalia', {cv: cv.id}) }}'">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </button>
                                <br/>
                                <span class="badge badge-secondary">{{ cv.updated|date('d/m/Y H:i:s') }}</span>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pesquisarModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="{{ url('cv_list') }}" method="get" id="formPesquisar">
                    <div class="modal-body">

                        <h5 class="modal-header">Pesquisar por...</h5>

                        <div class="card">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="p_filter_str">Nome</label>
                                    <input type="text"
                                           class="form-control" id="filter[nome]"
                                           name="filter[nome]"
                                           value="{{ filter.nome|default('') }}">
                                </div>

                                <div class="form-group">
                                    <label>Atualizado</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="date" size="15" class="form-control" name="filter[updated][i]"
                                                   value="{{ filter.updated.i|default('') }}">
                                        </div>
                                        <div class="col">
                                            <input type="date" size="15" class="form-control" name="filter[updated][f]"
                                                   value="{{ filter.updated.f|default('') }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Idade</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="number" class="form-control" name="filter[idade][i]"
                                                   value="{{ filter.idade.i|default('') }}">
                                        </div>
                                        <div class="col">
                                            <input type="number" size="15" class="form-control" name="filter[idade][f]"
                                                   value="{{ filter.idade.f|default('') }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <fieldset class="form-group pre-scrollable" style="height: 150px">
                                        <legend>Status</legend>
                                        {% for status in filterChoices.status %}
                                            {% set checked = ((filter is defined) and (filter.status is defined) and (status in filter.status)) ? 'checked' : '' %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       value="{{ status }}" {{ checked }}
                                                       name="filter[status][]">
                                                <label class="form-check-label">
                                                    {{ status }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </fieldset>
                                </div>

                                <div class="form-group">
                                    <fieldset class="form-group pre-scrollable" style="height: 150px">
                                        <legend>Cargo</legend>
                                        {% for cargo in filterChoices.cargos %}
                                            {% set checked = ((cargo is defined) and (filter.cargo is defined) and (cargo.id in filter.cargo)) ? 'checked' : '' %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       value="{{ cargo.id }}" {{ checked }}
                                                       name="filter[cargo][]">
                                                <label class="form-check-label">
                                                    {{ cargo.cargo }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </fieldset>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                id="btnCancelarPesquisa" data-dismiss="modal">
                            <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                        </button>
                        <button type="submit" class="btn btn-danger" id="btnPesquisar">
                            <i class="fa fa-trash" aria-hidden="true"></i> Pesquisar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/cvList.js') }}"></script>
{% endblock %}
